#navbar{
	font-size: 16px;
	display: flex;
	align-items: center;
	height: 60px;
	/*padding-left: 80%;*/
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
}
#logo-head{
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #616771;
	cursor: pointer;
}